# Ignore all files by default
*

# Allow only the Jupyter Notebook files and .gitignore
!Lab_1_Healthcare.ipynb
!Lab_Assignment_2_AI_in_Healthcare.ipynb
!Lab_Assignment_3_AI_in_Healthcare.ipynb
!Lab_Assignment_4_AI_in_Healthcare.ipynb
!Lab_Assignment_5_AI_in_Healthcare.ipynb
!Lab_Assignment_6_AI_in_Healthcare.ipynb
!.gitignore

